.homeArea{ 
    background-image:url(outsideImage.jpg);
    background-size:60% 100%;
    background-repeat: no-repeat;
    background-position: center; /* aligning outside image horizontal and vertical */
    display:flex;
    height: 50vh; /* 100% of viewport height */
    justify-content: center; /* centers content */
    color:white; 
    width:80%;
    float:right;
}