.verticalArea{
    align-items: top; 
    background-image:linear-gradient(rgba(192, 183, 183, 0.89), rgba(214, 186, 134, 0.966)),url(maliCoffee.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    float: left;
    height: 100vh; /* 100% of viewport height */
    justify-content: center; /* centers content */
    width:20%;
}

.title{
    color: rgba(0, 0, 0, 0.699);
    font-family: cursive;
    font-size:22px;
    font-style: bold;
    margin-left:5%;
}
.navSubHeaders{
    color: whitesmoke;
    font-family: cursive;
    font-size:14px;
    font-style: bold;
    margin-left:5%;
    margin-top:15%;
}
.navAddress{
    color: whitesmoke;
    font-family: cursive;
    font-size:14px;
    font-style: bold;
    margin-right:5%;
}