.verticalArea{ 
    background-image:linear-gradient(rgba(192, 183, 183, 0.993), rgba(44, 44, 44, 0.849)),url(coffeeCup.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center; /* aligning nav image */
    display:flex;
    float: left;
    height: 100vh; /* 100% of viewport height */
    justify-content: center; /* centers content */
    width:20%;
}

.title{
    color: rgba(255, 0, 0, 0.911);
    font-family: 'Supermercado One', cursive;
    font-size:46px;
    font-style: bold;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.navSubHeaders{
    font-family: cursive;
    font-size:16px;
    font-style: bold;
    margin-left:7%;
    margin-top:15%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a{
color: white;
text-decoration: none;

}
/* Page Links */
a:hover {
    color:red;
  }
.navAddress{
    color:  white;
    font-family: cursive;
    font-size:14px;
    font-style: bold;
    margin-right:7%;
}

.fa {
    padding: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
/* Add a hover effect if you want */
.fa:hover {
    background:red;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    background: linear-gradient( #400080, transparent),linear-gradient(200deg, #d047d1, #ff0000,    #ffff00);
    color: white;
    margin-left:20px;
  }